header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: indianred
    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: ;
    border-style: dotted;
    border-width: 0px;
    border-top-width: 7px;
    border-color: black;
    margin-bottom: 100px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: antiquewhite;
}

html {
    background:url(Bilder/anve.png);
    display: grid;
    max-width: 100vw;
    font-family: sans-serif;
}

.grid-element1 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: auto;
    margin-right: auto;
}

h1>img {
    width: 100px;
    margin-bottom: 0px;
    background-color: indianred;
    margin-top: 20px
}

div, .navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

a{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 2px;
    border-radius: 10px;
}

section>a:hover {
    color: whitesmoke;
    background-color: black;
    transform: scale(1.2);
    transition: 0.5s;
}

.section {
    background-color: coral;
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    margin-left: auto;
    margin-right: auto;
}

.input {
    margin-top: 10px;
}

#tur {
    width: 110px;
    height: 215px;
    background:url(Bilder/spritesheet.png); 
    animation: run 1s steps(5) infinite;
    display: grid;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: coral;
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 50px;
}

@keyframes run {
    100% {background-position: 640px}
}

button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

.h1 {
    margin-bottom: 0px;
    grid-column-start: 2;
    background-color: indianred;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-style: solid;
    margin-top: 100px;
}

h2 {
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    border-color: indianred;
    border-width: 7px;
    color: whitesmoke;
    margin-left: 1vw;
    font-size: 20px; 
    background-color: black;
}

p {
    padding: 10px;
    font-size: 20px; 
}

.p {
    grid-column-start: 2;
}

.a {
    font-size: 20px;
}

.p1 {
    margin-top: 7px;
    grid-column-start: 2;
}

p>a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    
}

input {
    margin-bottom: 5px;
}

video {
    background-color: indianred;
    padding: 6px;
    margin-top: 100px;
    border-style: solid;
    border-color: indianred;
    border-width: 7px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50vw;
}

.video {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

.ul {
    margin-top: auto;
    background-color: coral;
    color: black;
    height: 35%;
    margin-left: 5vw;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    grid-column-start: 2;
}

.img1 {
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    grid-column-start: 3;
    background-color: black;
    margin-left: 5vw;
    width:90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.h2 {
    grid-row-start: 1;
}

audio {
    grid-row-start: 2;
}

.audio {
    margin-left: 5vw;
}

.h2a {
    margin-top: 7px;
    margin-left: 5vw;   
}

.img1a {
    width: 90vw;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-left: 2vw;
    margin-top: 7px;
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
    border-color: coral;
}

.ul1a {
    grid-column-start: 1;
    margin-top: 10px;
    background-color: none;
    border-width: 0;
    background-color: coral;
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin-left: 3vw;
}

.h2b {
    grid-column-start: 1;
    grid-column-end: 3;
}

#skisser {
    margin: 40px auto;
    display:flex;
    width: 800px;
    height: 320px;
}

#skisser>div{
    flex: 1;
    background-color: indianred;
    border-style: solid;
    border-width: 4px;
    border-color: indianred;
    opacity: 0.6;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}

#skisser>div:hover {
    flex: 4;
    transform: scale(1.2);
    opacity: 1;
    z-index: 1;
}

#skisse1 {
    background-image: url(Bilder/Wireframeindex.tif);
}

#skisse2{
    background-image: url(Bilder/Wireframechatside.tif);
}

#skisse3{
    background-image: url(Bilder/wireframerapporter.tif);
}

#skisse4{
    background-image: url(Bilder/wireframerapporter.tif);
}

#skisse5{
    background-image: url(Bilder/Databaseproblem.png);
}